.footer-container {
    width: 100%;
    background-color: #f5f5f5; /* Fondo gris */
    padding: 16px 0;
    margin-top: auto;
  }
  
  .footer-link {
    color: #777;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-link:hover {
    color: #E1306C;
  }
  
  .footer-text {
    color: #888;
    font-size: 0.75rem;
    margin-top: 4px;
  }
  